<html>

<head>
    <meta charset="UTF-8">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Pathum Egodawatta www.mooniak.com" />
    <title>{{ page.title }} - Libre Design Tools ↯↯↯</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A directory of Free and Open Source design tools.">
    <meta name="author" content="http://mooniak.com/">
    <meta property="fb:admins" content="1492908859"/>
    <meta property="og:image" content="{{ site.baseurl }}/images/{{ page.icon }}"/>
    <meta property="og:title" content="{{ page.title }} - Libre Design Tools ↯↯↯" />
    <meta property="og:description" content="A directory of Free and Open Source design tools." />
    <meta property="og:site_name" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta itemprop="name" content="{{ page.title }} - Libre Design Tools ↯↯↯">
    <meta itemprop="description" content="A directory of Free and Open Source design tools.">
    <meta itemprop="image" content="{{ site.baseurl }}/images/{{ page.icon }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/{{ page.icon }}">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/simplegrid.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{{ site.baseurl }}/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/sss.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.lightbox_me.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/sss.css" type="text/css" media="all">
    <script>
        jQuery(function ($) {
            $('.slider').sss();
        });

        $('.slider').sss({
            slideShow: true, // Set to false to prevent SSS from automatically animating.
            startOn: 0, // Slide to display first. Uses array notation (0 = first slide).
            transition: 200, // Length (in milliseconds) of the fade transition.
            speed: 3500, // Slideshow speed in milliseconds.
            showNav: true // Set to false to hide navigation arrows.
        });
    </script>
    <script>
        $('#toggle4').click(function () {
            $('.toggle4').slideToggle('fast');
            return false;
        });
    </script>
    <script>
        localStorage.clear();
    </script>
    <script>
        $(document).ready(function () {

            // Grab the text from the JS constant file, and show it
            prepareAndShowFontLayout();

        });
    </script>
<script type="text/javascript">
function gotoPage(select){
    window.location = select.value;
}
</script>
</head>

<body>
<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=162670900464819";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->