<div class="grid grid-pad">


    <div class="col-1-3 mobile-col-1-1">
        <h1>Libre Design Tools &nbsp;&#8623;</h1>
       <h4> Instaed of beign stuck with expensive propietery tools, use powerful Free and Open Source softwares for your design projects. <a href='#' id='slideToggle2'>Learn More</a></h4>
    </div> 
            
<br />

<div style="display:none;" class="slideTogglebox2">
<div class="col-1-2 mobile-col-1-1">
	<h2>How To Use</h2>
        This is just a collection of links to libre design software and resources. I built this page to keep track of my tools.

You are invited to contribute to and improve.


</div>
              
	<div class="col-1-2 mobile-col-1-1">
	<h2>Warnings :)</h2>
        <li>Free To Copy and Distribute</li>
        <li></li>
	</div>
	</div>
  
  
            
            
    </div>




<div class="grid grid-pad">

    {% for tag in site.tags %} {% assign t = tag | first %} {% assign posts = tag | last %} {% for post in posts %} {% if post.tags contains t %}
    <div class="post">
        <div class="col-1-3">

            <div class="tile {{ post.background }} {{ post.catagory }}">

              
                <a href="{{ site.baseurl }}{{ post.url }}" ><h2>{{ post.title }}</h2></a>
                <div class="category">{{ post.category }}{{ post.tags }}&nbsp; </div>
                <div class="category">
                <img class="os_icon" style="visibility:{{ post.gnu }};" src="{{ site.baseurl }}/images/gnu.svg">
                <img class="os_icon" style="visibility:{{ post.mac }};" src="{{ site.baseurl }}/images/mac.svg"> 
                <img class="os_icon" style="visibility:{{ post.win }};" src="{{ site.baseurl }}/images/win.svg">
                </div>

             <br>
            <p>{{ post.content }}</p>

            </div>

        </div>

        {% endif %}</div> {% endfor %} {% endfor %}

</div>
<div class="grid grid-pad">
    <div class="col-1-3 mobile-col-1-1 push-1-3">
        <a id="exportxt" href="#">MoreS&nbsp;&#8623;</a>
        <div style="display:none;" id="editor" class="code_display"></div>

 <br/><br/>
	
      
 
	
 
        
    </div>
    
  
 


 
<script type="text/javascript">
 

$("#slideToggle").click(function () {
   $('.slideTogglebox').slideToggle();
});
    $("#slideToggle2").click(function () {
   $('.slideTogglebox2').slideToggle();
});
 

</script>
 
    
</div>
