

<nav style="background-color:#{{ page.background }}">
    
<div class="grid grid-pad">
<h1 id="libre_graphics_badge" class='sitetitle'><a href="{{ site.baseurl}}/">Libre Design Tools ↯↯↯</a></h1>
<div class="fb-like" data-href="http://mooniak.com/libre-design-tools/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    
<!--<form name="jump" class="lang_chooser">
<select name="menu" onchange="gotoPage(this)">
<option value="#">Language</option>
<option value="{{ site.baseurl}}/si/{{ page.title }}">Sinhala</option>
<option value="{{ site.baseurl}}/en/{{ page.title }}">English</option>

</select>

</form>

<div class="post-tags">
<form name="jump-tag" class="lang_chooser">
<select name="menu" onchange="gotoPage(this)">
<option value="#">Select Category</option>

{% for tag in site.tags %}

<option value="#{{ tag | first | slugize }}">{{ tag | first }}</option>

{% endfor %}
</select>
</form>
    -->
    
</nav>
</div>