
{% include head.html %}

<body>
  <div class="container">
    <h1><a href="./">{{ page.title }}</a></h1>
    <p align="center">
<form name="jump" class="center">
<select name="menu" onchange="gotoPage(this)">
<option value="#">Language</option>
<option value="{{ site.baseurl}}/si/">Sinhala</option>
<option value="{{ site.baseurl}}/en-us/">English</option>

</select>

</form>
Last updated {{ site.time | date_to_long_string }}.
</p>


    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
