 {% include html_start.html %}
 {% include navbar.html %}

<div class="container">
<div  style="background-color:#{{ page.background }}" class="full-width">
    <div class="grid grid-pad">

        <div class="post">
            <div style="  text-align: center;" class="col-1-1 mobile-col-1-1">
                <div id='tool-title'>
                    <h1><img class="tool_icon"src="{{ site.baseurl }}/images/{{ page.icon }}">{{ page.title }}</h1>
                      
                </div>
                <h2>  {{ page.des }}</h2>
            </div>
            
            
            <div class="col-1-1 mobile-col-1-1">
                                
                
                
            </div>
            
            
        </div>
         </div>
        <div class="grid grid-pad">

            <div class="col-1-4 push-1-2 mobile-col-1-1">

               
                   
            </div>
          
                 
            
            
            
        </div> 
     
    
    
    
    
    <!-- Images Here-->


<div class="grid grid-pad">
<div class="col-1-1">
<div class="slider">
<img src="{{ site.baseurl }}/images/{{ page.name }}/image1.png" />
<img src="{{ site.baseurl }}/images/{{ page.name }}/image4.png" />
<img src="{{ site.baseurl }}/images/{{ page.name }}/image2.png" />
<div><img src="{{ site.baseurl }}/images/{{ page.name }}/image3.png" /><span class="caption"></span></div>
</div>
</div>
</div>
</div>

    
          <div class="grid grid-pad">
            <div class="col-1-2 push-1-4 mobile-col-1-1">
                <p class="about">{{ page.about }}</p>
               <div class="category">&nbsp;{{ page.category }}|&nbsp;{{ page.tags }}&nbsp;| &nbsp;{{ page.status }}
                    <span class="os_icon" style="display:{{ page.gnu }};"><i class="fa fa-linux"></i></span>
                    <span class="os_icon" style="display:{{ page.mac }};"> <i class="fa fa-apple"></i></span>
                    <span class="os_icon" style="display:{{ page.win }};"><i class="fa fa-windows"></i></span>
                </div>
              </div>
        </div>
     
                {{ content }}
  

    
    
<!--Info-->
<div id="tutorials" class="grid grid-pad">
    <h1 class="post-sub-title">↯↯↯Getting Started↯↯↯</h1>

    <div class="videolink col-1-3 mobile-col-1-1">
               <a href="{{ page.videolink }}"> <i class="fa fa-video-camera fa-5x"></i><br> Watch Intro Video </a>

    </div>
    <div class="col-1-3 mobile-col-1-1">
    <h2>Tutorials and Reviews</h2>
            <!--Tutorial Links here-->
         <a href="{{ page.tutoriallink1 }}">{{ page.tutoriallable1 }}</a>
         <a href="{{ page.tutoriallink2 }}">{{ page.tutoriallable2 }}</a>
         <a href="{{ page.tutoriallink3 }}">{{ page.tutoriallable3 }}</a>
         <a href="{{ page.tutoriallink4 }}">{{ page.tutoriallable4 }}</a>
    </div>
    <div class="col-1-3 mobile-col-1-1">
    <h2>User Forums</h2>
        <!--User Forums Here-->
        <a href="{{ page.forumlink1 }}">{{ page.forumlink1 }}</a>
        <a href="{{ page.forumlink2 }}">{{ page.forumlink2 }}</a>
        <a href="{{ page.forumlink3 }}">{{ page.forumlink3 }}</a>
        <a href="{{ page.forumlink4 }}">{{ page.forumlink4 }}</a>

         
    </div>
</div>

 
	
 
        
    </div> </div>
    

<div class="grid grid-pad">
    <div class="col-1-3 mobile-col-1-1 push-1-3">


<div class="uk-width-1-1">
    <div class="uk-panel uk-panel-box highlights5 wow bounceIn animated" style="visibility: visible;">
        <a id="exportxt" target="balnk" class="d-box-effect7-menu">
        MoreS&nbsp;&#8623;</a>
     </div>
</div>
        

        
     <div class="descricao1" style="display: none; width:100%;">
        11111Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada nisl tellus, eget porttitor augue aliquam non. Morbi tempor, leo vel aliquet lacinia, ante est egestas dolor, vitae maximus mi mauris et quam. Nullam vehicula congue magna, quis posuere arcu vestibulum at. Mauris et mi rhoncus, vestibulum quam vel, mattis diam. Sed ut elit egestas, aliquam libero in, viverra erat. Sed non augue molestie, lacinia nibh venenatis, euismod nibh. Nulla scelerisque sodales felis. Pellentesque pharetra augue eu sapien luctus, quis pharetra eros faucibus. Morbi vitae eleifend massa.
        Cras blandit erat mi, eu laoreet elit euismod eget. Morbi efficitur est libero, ut tempus leo porttitor ut. Donec eget ipsum purus. Aenean congue risus eu neque tincidunt porttitor. Nullam non commodo ipsum, facilisis porta enim. Etiam varius elementum ante, in suscipit leo iaculis vel. Vivamus libero dolor, tincidunt at fringilla nec, molestie vel metus. Fusce euismod erat at sapien molestie, sed venenatis est lobortis. 
     </div>



    </div>
</div>

    
<!--Installation-->
<div id="downloads" class="slideTogglebox grid grid-pad">
    <h1 class="post-sub-title">↯↯↯Downloads↯↯↯</h1>
    <div class="col-1-3 mobile-col-1-1">
    <h2><i class="fa fa-linux"></i>&nbsp;GNU/Linux</h2>
<a href='{{ page.gnulink }}'>Offical Download</a> 
                        <p>{{ page.gnudesc }}</p>

        </div>
    
    <div class="col-1-3 mobile-col-1-1">
    <h2><i class="fa fa-apple"></i>&nbsp;MacOs</h2>
            <!--Add Tutorial Links here-->
<a href='{{ page.maclink }}'>Offical Download</a>
                <p>{{ page.macdesc }}</p>

        
</div>
    <div class="col-1-3 mobile-col-1-1">
    <h2><i class="fa fa-windows"></i>&nbsp;Windows</h2>
<a href='{{ page.winlink }}'>Offical Download</a>  
        <p>{{ page.windesc }}</p>
    </div>
</div>
    

<div class="grid grid-pad">
<div class="col-1-1 mobile-col-1-1">
    <p class="about">{{ page.moreinfo }}</p>
    <h3>Social links</h3>
      <a href="{{ page.fblink }}"><i class="fa fa-facebook-square fa-2x"></i> </a>
                <a href="{{ page.gplink }}"><i class="fa fa-google-plus-square fa-2x"></i> </a>
                <a href="{{ page.twitterlink }}"><i class="fa fa-twitter-square fa-2x"></i></a>

</div>
</div>
 

<!--<div class="grid grid-pad">
    <div class="related">
        <h2>More Tools</h2>
        <ul class="related-posts">
            {% for post in site.related_posts limit:3 %}
            <div class="col-1-3 mobile-col-1-1">
                <h3>
<a href="{{ site.baseurl }}{{ post.url }}">
{{ post.title }}
</a>
</h3>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>-->
    
    
    

    {% include footer.html %}
<script type="text/javascript">
 

$('a.d-box-effect7-menu').click(function(){
   $('.descricao'+($('.d-box-effect7-menu').index($(this))+1)).slideToggle("slow").siblings('div').hide('slow');
});

</script>
</div>
</div>
</div>

</body>

</html>